@charset "utf-8";
*{margin:0; padding:0;}
li{list-style: none;}
a{
    text-decoration: none;
    display:block;
    color:inherit;
}
img{
    display:block;
    border:0;
}
.cf:after{
    content:"";
    display:block;
    clear:both;
}

#wrap{
    width:1000px;
    height:650px;
}
#left{
    width:200px;
    height:650px;
    float:left;
    
}
#right{
    width:800px;
    height:650px;
    float:left;
   
}
.logo img{width:200px;}
nav{width:200px; height:550px;} /* 생략가능 */

.sub{
    display:none; 
    position:absolute;
    left:160px;
    top:-32px; 
    height:240px; 
    background:#adf;
}
/* .gnb li:hover .sub{display:block;} */
.gnb a{
    width:160px;
    line-height: 40px;
    text-align: center;
    background:#ffa;
}
.sub a{background:#adf; line-height: 32px;}
.gnb{
    position: relative;
    top:40px;
    left:20px;
}
.gnb>li:hover>a{
    background: #adf;
}
.sub>li:hover>a{
    background:#ffa;
}

/* #slide */
#slide{ overflow: hidden;}
#slide ul{animation:slide 9s infinite; width:400%;}
#slide li{float:left;}
@keyframes slide{
    0%{margin-left: 0;}
    29%{margin-left: 0;}
    31%{margin-left: 1%;}
    33%{margin-left: -100%;}

    33.1%{margin-left: -100%;}
    62%{margin-left: -100%;}
    64%{margin-left: -99%;}
    66%{margin-left: -200%;}

    66.1%{margin-left: -200%;}
    96%{margin-left: -200%;}
    98%{margin-left: -199%;}
    100%{margin-left: -300%;}
}

/* #content */
#content section{
    width:240px;
    height:180px;
    padding:10px;
    float:left;
}
#content section:nth-child(1){
    width:260px;
}

#content section h3{
    line-height: 29px;
    border-bottom: 1px #333 solid;
    text-align: center;
}

.notice a{
    line-height: 30px;
    height:30px; /* cf 대용!! */
    font-size: 13px;
}
.notice a:hover{background-color: #333; color:#fff;}
.subject{
    width:180px;
    float: left;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.date{
    width:80px;
    float: left; 
    text-align: right;
}

.gallery img{width:70px;}

.gallery li{
    float:left;
    padding:40px 0 0 10px;
}
.gallery li:first-child{
    padding:40px 0 0 5px;
}

.gallery a:hover{
    opacity: .6;
}

.shortcut{
    text-align: center;
    font-size: 13px;
}

/* footer */
footer{width:800px; height:100px; background:#ccc;}
.f_logo{width:200px; height:100px; float:left;}
.f_logo img{width:200px;}
.copyright{
    width:450px; height:80px;
    float: left;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    padding:10px 0;
}
.family{
    width:150px; 
    /* height:100px; */
    float: left;
    text-align: center;
    padding:34px 0;
}
.family select{
    width:130px;
    height:32px;
}
